.cache
java/.metadata
java/Servers
java/RemoteSystemsTempFiles
java/MyGameServer/WebContent/WEB-INF/lib
java/MyGameServer/target
.classpath
.project
java/MyGameServer/.settings
*.dll
*.suo
*.user
dotnet/MyGameServer/packages
dotnet/MyGameServer/MyGameServer/bin
dotnet/MyGameServer/MyGameServer/obj